*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imagenes/robin-schreiner-7y4858E8PfA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    
}
header{
    background-image: url(../imagenes/robin-schreiner-7y4858E8PfA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    
}

.nav__list {
    list-style: none;
    display: flex;
}
.nav__list{
    margin-left: 1.5rem;
}
.nav_link{
    text-decoration: none;
    color: #09bcdb;
    text-transform: uppercase;}