*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
ima, 
svg{
    vertical-align: middle;
}
iframe{
    max-width: 100%;
}
.container{
    width: 95%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
   
}


.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
}
.nav__item{
    margin-left: 1.5rem;
}

.col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.footer{
    padding: 1em;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}


body{
    background-image: url(../imagenes/donny-jiang-42gFAgdIUC8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
   
}
header{
    background-image: url(../imagenes/donny-jiang-42gFAgdIUC8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;   
}

.nav__list{
    margin-left: 1.5rem;

}
.nav__item{
    margin: 0 0 0 1.5rem;
}


.nav__link{
   color: #09bcdb;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__link:hover,
.nav__link:focus{
    opacity: 0.65;
}

#intro-section{
    padding: 8rem 0 0 0;
   

}

.display-2{
    text-transform: capitalize;
    color: #09bcdb;
    font-size: 4.5rem;
    font-weight: 400;
}
.display-2-intro{
    font-weight: 700;
    display: inline-block;
}
.display-2-description{
font-size: 1.4rem;
display: inline-block;
margin-top: 1.5rem;
}


@keyframes from-right{
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/*Media Queries*/
@media (min-width:768px){
    .container {
        width: 80%;
    }

.nav__list {
    display: flex;
    margin: 0;
}
.nav__item{
    margin: 0 0 0 1.5rem;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iframe{
    margin-top: 0;
    text-align: right;
}
.display-2{
    font-size: 3.4rem;
}
.display-2-description{
    font-size: 1rem;
    display: inline-block;

}
}
@media(min-width:1024px){
    .display-2{
        font-size: 4.5rem;
    }
    .display-2-description{
        font-size: 1.4rem;
        display: inline-block;
    }
    .nav__link--button{
        display: block;
    }
}